// Fuentes
$mainFont: 'Poppins', sans-serif;

// Tamaño de Media Queries
$cellphone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$blue: #0da6f3;
$black: #1a1b15;
$white: #FFFFFF;
$gray: #e1e1e1;

$spacing: 4rem;

// Fuentes

$thin: 300;
$normal : 400;
$semi-bold: 600;
$bold: 700